importFrom(magrittr, "%>%")
importFrom(R6,"R6Class")
importFrom(rcdk, "get.formula")
import("dplyr")
export("%f+%")
export("%f-%")
export(addFormulas)
export(addListFormulas)
export(aminoAcidModifications)
export(aminoAcidResidues)
export(chemicals)
export(electronFormula)
export(elements)
export(elementsAverage)
export(elementsInFormula)
export(elementsInFormulas)
export(elementsMonoisotopic)
export(emptyFormula)
export(formulaString)
export(formulaToMass)
export(massToMz)
export(massToMzH)
export(modifications)
export(peptide)
export(peptideCount)
export(peptideFragments)
export(peptideMzH)
export(peptideFormula)
export(protonFormula)
export(rcdkFormula)
export(sortFormula)
export(stringFormula)
export(subtractFormulas)
export(waterFormula)
