importFrom(magrittr, "%>%")
importFrom(R6,"R6Class")
importFrom(rcdk, "get.formula")
import("dplyr")
importFrom(utils, "data")
export("%f+%")
export("%f-%")
import("purrr")
export(addFormulas)
export(addListFormulas)
export(aminoAcidModifications)
export(aminoAcidResidues)
export(chemicals)
export(electronFormula)
export(elements)
export(elementsAverage)
export(elementsInFormula)
export(elementsInFormulas)
export(elementsMonoisotopic)
export(emptyFormula)
export(formulaString)
export(formulaToMass)
export(massToMz)
export(massToMzH)
export(mzToMass)
export(mzHToMass)
export(modifications)
export(peptide)
export(peptideCount)
export(peptideFragments)
export(peptideMzH)
export(peptideFormula)
export(pdToFormula)
export(protonFormula)
export(rcdkFormula)
export(sortFormula)
export(removeZeros)
export(stringFormula)
export(stringToFormula)
export(subtractFormulas)
export(validFormula)
export(waterFormula)
